cpld/_xmsgs
cpld/iseconfig
cpld/isim

cpld/*.exe
cpld/*.prj
cpld/*.stx
cpld/*.syr
cpld/*.xst
cpld/*.bld
cpld/*.cmd_log
cpld/*.err
cpld/*.xml
cpld/*.ini
cpld/*.tim
cpld/*.rpt
cpld/*.xrpt
cpld/*.pnx
cpld/*.gyd
cpld/*.lso
cpld/*.log
cpld/*.mfd
cpld/*.nga
cpld/*.ngd
cpld/*.ngr
cpld/*.pad
cpld/*.wdb
cpld/*.gise
cpld/fuseRelaunch.cmd
cpld/*.pnxsyr
cpld/*.tspec
cpld/*.vm6
cpld/*.html
cpld/*pad.csv
cpld/build.txt
cpld/*.xmsgs
cpld/isim.cmd
