NET "beeb_clk" TNM_NET = CLK50MHZ;
TIMESPEC TS_CLK_1Mhz = PERIOD "CLK1MHZ" 1000ns;

NET "beeb_clk"       LOC =  "S:PIN17";	 # JP7 pin 4
NET "CB"             LOC =  "S:PIN20";  # JP7 pin 6
NET "ROW<0>"         LOC =  "S:PIN22";  # JP7 pin 8
NET "ROW<1>"         LOC =  "S:PIN24";  # JP7 pin 10
NET "ROW<2>"         LOC =  "S:PIN26";  # JP7 pin 12
NET "COL<0>"         LOC =  "S:PIN28";  # JP7 pin 14
NET "COL<1>"         LOC =  "S:PIN33";  # JP7 pin 16
NET "COL<2>"         LOC =  "S:PIN35";  # JP7 pin 18
NET "COL<3>"         LOC =  "S:PIN40";  # JP7 pin 20
NET "W"              LOC =  "S:PIN44";  # JP7 pin 22
NET "CA2"            LOC =  "S:PIN45";  # JP7 pin 24

NET "ps2_clk"        LOC =  "PIN30";  # On clock header J2
NET "ps2_data"       LOC =  "PIN15";  # On J7 pin 2

NET "dbgleds<0>"     LOC =  "PIN51";  # LED 1
NET "dbgleds<1>"     LOC =  "PIN50";  # LED 2
NET "dbgleds<2>"     LOC =  "PIN49";  # LED 3
NET "dbgleds<3>"     LOC =  "PIN48";  # LED 4
NET "dbgleds<4>"     LOC =  "PIN60";  # 7seg A
NET "dbgleds<5>"     LOC =  "PIN59";  # 7seg B
NET "dbgleds<6>"     LOC =  "PIN58";  # 7seg C
NET "dbgleds<7>"     LOC =  "PIN57";  # 7seg D
NET "dbgleds<8>"     LOC =  "PIN56";  # 7seg E
NET "dbgleds<9>"     LOC =  "PIN54";  # 7seg F
NET "dbgledenable"   LOC =  "PIN64";  # 7seg enable

NET "startupOptions<0>"     LOC =  "S:PIN11"; # SW 1
NET "startupOptions<1>"     LOC =  "S:PIN12"; # SW 2
NET "startupOptions<2>"     LOC =  "S:PIN13"; # SW 3
NET "startupOptions<3>"     LOC =  "S:PIN14"; # SW 4
NET "startupOptions<4>"     LOC =  "S:PIN16"; # JP4 pin 3
NET "startupOptions<5>"     LOC =  "S:PIN19"; # JP4 pin 4
NET "startupOptions<6>"     LOC =  "S:PIN21"; # JP4 pin 5
NET "startupOptions<7>"     LOC =  "S:PIN23"; # JP4 pin 6
