NET "beeb_clk" TNM_NET = CLK1MHZ;
TIMESPEC TS_CLK_1Mhz = PERIOD "CLK1MHZ" 1000ns;

NET "beeb_clk"       LOC =  "PIN22";
NET "CB"             LOC =  "PIN81";
NET "COL<0>"         LOC =  "PIN89";
NET "COL<1>"         LOC =  "PIN90";
NET "COL<2>"         LOC =  "PIN97";
NET "COL<3>"         LOC =  "PIN87";
NET "ROW<0>"         LOC =  "PIN82";
NET "ROW<1>"         LOC =  "PIN85";
NET "ROW<2>"         LOC =  "PIN86";
NET "W"              LOC =  "PIN12";
NET "W_EN"           LOC =  "PIN13";
NET "CA2"            LOC =  "PIN93";
NET "RST"            LOC =  "PIN71";

NET "ps2_clk"        LOC =  "PIN25";
NET "ps2_data"       LOC =  "PIN24";

NET "dbgleds<0>"     LOC =  "PIN49";
NET "dbgleds<1>"     LOC =  "PIN46";
NET "dbgleds<2>"     LOC =  "PIN43";
NET "dbgleds<3>"     LOC =  "PIN42";
NET "dbgleds<4>"     LOC =  "PIN41";
NET "dbgleds<5>"     LOC =  "PIN40";
NET "dbgleds<6>"     LOC =  "PIN39";
NET "dbgleds<7>"     LOC =  "PIN37";
NET "dbgleds<8>"     LOC =  "PIN36";
NET "dbgleds<9>"     LOC =  "PIN35";

NET "startupOptions<0>"     LOC =  "S:PIN50";
NET "startupOptions<1>"     LOC =  "S:PIN52";
NET "startupOptions<2>"     LOC =  "S:PIN53";
NET "startupOptions<3>"     LOC =  "S:PIN54";
NET "startupOptions<4>"     LOC =  "S:PIN55";
NET "startupOptions<5>"     LOC =  "S:PIN56";
NET "startupOptions<6>"     LOC =  "S:PIN58";
NET "startupOptions<7>"     LOC =  "S:PIN59";
